<h1> You are viewing blog:</h1>
<h3> <%= @blog.title%> </h3>
<br />
<p><%= @blog.content%> </p>

<br />
<p> <%= link_to "Home", blogs_path%> </p>

<p> <%= link_to "Update Blog", edit_blog_path(@blog)%> </p>

<p><%= link_to 'Delete Blog', delete_blog_path(@blog), method: :delete, data: { confirm: 'Are you sure you want to delete this blog?'} %></p>