<h3>Just One Puppy</h3>
<p>Name: <%= @puppy.title %></p>
<p>Type of Food: <%= @puppy.type_of_food%></p>
<p>Excercise Needs:<%= @puppy.excercise_needs%></p>
<p>Cuteness Level:<%= @puppy.cuteness_needs%></p>

<br />
<p>
<%= link_to "Back to all Puppies", puppeis_path%>
</p>


